# Local data and logs
/LLaVA-Pretrain/
/llava_pretrain_data/
/wandb/
output*/
checkpoints/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE files
.vscode/
.idea/

# Exclude egg-info build artifacts
parsit.egg-info/

# Exclude specific directories and files
LLaVA-Pretrain/
mlp-pretrain/
parsit.egg-info/
mlp-projector-pretrain
wandb/